body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    position: relative; 
    left: 200px;

}

.userinput {
    position: relative;
    right: 350px;
    margin-top: -55px;
    
}


input[type="text"] {
  width: 50%; /* Makes the input field fill its container */
  padding: 12px 20px; /* Adds space inside the box */
  margin: 8px 0; /* Adds space outside the box */
  display: inline-block;
  border: 1px solid #ccc; /* Adds a border */
  border-radius: 4px; /* Rounds the corners */
  box-sizing: border-box; /* Ensures padding/border are included in the width */
}

input[type="text"]:focus {
  border-color: #4CAF50; /* Changes border color when the user focuses on it */
  outline: none; /* Removes the default browser outline */
}

#match-message {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}





.dice {
    font-size: 100px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: right;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
